<div class="wrapper wrapper-content" data-ng-controller="DashboardController" data-ng-init="find()">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Welcome <span data-ng-bind="authentication.user.displayName"></span></h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">

                <p>
                    <strong>0</strong> notices have been opened in the last 24 hours. To update any active notice, you can select it from the dashboard below. To create a new notice, click on the link to the left to start a new outage notice.
                     </p>

                <p>
                    <small>
                        
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
            <div class="row">
                <div class="col-sm-4">
                <div class="input-group">
                     <input type="search" class="form-control" placeholder="Search Notices" ng-model="query">
                     <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
                </div>
            </div>
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Outage Start Time</th>
                        <th>Priority</th>
                        <th>Ticket #</th>
                        <th>Title</th>
                        <th>Services Affected</th>
                        <th>Status</th>
                        <th>Action</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    <!-- if you want to filter based on status add: filter:{status:'active'} -->
                    <tr data-ng-repeat="notice in notices | filter: query | orderBy: '-created'">
                        <td>{{notice.outage_start_time | date: 'medium'}}</td>
                        <td>{{notice.priority}}</td>
                        <td>{{notice.ticket_number}}</td>
                        <td>{{notice.title}}</td>
                        <td>{{notice.services_affected}}</td>
                        <td><small class="label label-primary">{{notice.status}}</small></td>
                        <td><a href="notices/{{notice._id}}"><small class="label label-danger">update</small></td></a>
                        
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

</div>