<div class="wrapper wrapper-content" data-ng-controller="DashboardController" data-ng-init="find()">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Welcome <span data-ng-bind="authentication.user.displayName"></span></h5>
            </div>
            <div class="ibox-content m-b-sm border-bottom">
            <div class="p-xs">
                <div class="pull-left m-r-md">
                    <i class="fa fa-globe mid-icon"></i>
                </div>
                <h2 style="color: red;">HDNotify</h2>
                <span>To create or update a notice, please ensure you are first logged in to access the action option. Note, you are only allowed to update an 'active' notice.</span>
            </div>
        </div>
    </div>
</div>
</div>

<div class="row">
  <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
            <div class="row">
                <div class="col-sm-4">
                <div class="input-group">
                     <input type="search" class="form-control" placeholder="Search Notices" ng-model="query">
                     <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
                </div>
            </div>
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>Outage Start Time</th>
                <th>Priority</th>
                <th>Ticket #</th>
                <th>Title</th>
                <th>Services Affected</th>
                <th>Status</th>
                <th data-ng-show="authentication.user">Action</th>
                
            </tr>
            </thead>
            <tbody>
            <!-- if you want to filter based on status add: filter:{status:'active'} -->
            <tr data-ng-repeat="notice in notices | filter: query | orderBy: 'status'" ng-switch on="notice.status == 'active'">
                <td>{{notice.outage_start_time | date: 'medium'}}</td>
                <td style="width:30px">{{notice.priority}}</td>
                <td>{{notice.ticket_number}}</td>
                <td>{{notice.title}}</td>
                <td>{{notice.services_affected}}</td>
                <td align="center" ng-switch-when="true">
                <small class="label label-primary">{{notice.status}}</small>
                <a ng-hide="authentication.user" href="/#!/notices/{{notice._id}}"><small class="label label-info"><i class="fa fa-eye"></i></small></a>
                </td>
                <td align="center" ng-switch-default>
                <small class="label label-default">{{notice.status}}</small>
                <a ng-hide="authentication.user" href="/#!/notices/{{notice._id}}"><small class="label label-info"><i class="fa fa-eye"></i></small></a>
                </td>
                <td align="center" ng-switch-when="true" ng-show="authentication.user">
                <a href="/#!/notices/{{notice._id}}/update"><small class="label label-danger"><i class="fa fa-arrow-circle-o-up"> update</i></small></a>
                </td>
                <td align="center" ng-switch-default ng-show="authentication.user">
                <a href="/#!/notices/{{notice._id}}"><small class="label label-info"><i class="fa fa-eye"></i></small></a></td>
            </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>
    </div>
</div>
