<section data-ng-controller="NoticesController">
<div class="wrapper wrapper-content">
<div class="row">
    <div class="col-lg-12 animated fadeIn">
       <div class="panel panel-danger">
                            <div class="panel-heading">
                                Notice Information
                            </div>
                            <div class="panel-body">
                               <table class="table table-hover table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Date Created</th>
                                        <th>Ticket #</th>
                                        <th>Title</th>
                                        <th>Priority</th>
                                        <th>Status</th>
                                        <th>Opened By</th>
                                        <th>Updated By</th>
                                        
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{notice.created | date: 'medium'}}</td>
                                        <td>{{notice.ticket_number}}</td>
                                        <td>{{notice.title}}</td>
                                        <td>{{notice.priority}}</td>
                                        <td><small class="label label-primary">{{notice.status}}</small></td>
                                        <td>{{notice.created_by}}</td>
                                        <td>{{notice.updated_by}}</td>
                                        
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <small>Updated at: {{notice.updated_at}}</small>
                            </div>
                        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 animated fadeInUp">
        <!-- <div class="ibox float-e-margins"> -->
            <div class="ibox-title">
                <h5>New Notice</h5>
            </div>
            <div class="ibox-content">
            <div class="row">
                    
                        <form role="form" data-ng-submit="create()" novalidate>
                        <div class="col-sm-4 b-r">
                         <div class="form-group">
                         <label for="type">Select Affected Service</label>
                            <select ng-model="noticeForm" ng-options="t.services_affected for t in templates" class="form-control m-b" name="service">
                            <option value="">-- select a service --</option>
                            </select>
                        </div>
                         <div class="form-group">
                         <label for="type">Select Notice Type</label>
                            <select ng-model="type" class="form-control m-b" name="type">
                                <option value="outage">Outage</option>
                                <option value="informational">Informational</option>
                            </select>
                        </div>
                       
                         <div class="form-group">
                            <label class="font-normal">Outage Start Time</label>

                            <div class="dropdown">
                                <a class="dropdown-toggle date-toggle" id="dLabel" role="button" data-toggle="dropdown" data-disabled="true" data-target="#" href="">
                                    <div class="input-group"><input type="text" class="form-control" data-ng-model="data.date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="data.date"
                                                    data-datetimepicker-config="{ dropdownSelector: '.date-toggle' }"></datetimepicker>
                                </ul>
                            </div>
                        </div>

                            <div class="form-group">
                                <label>Ticket #</label> 
                                <input type="text" id="ticket" ng-model="ticket" placeholder="IMXXXX" class="form-control">
                            </div>
                            <div class="form-group">
                                 <label for="type">Priority</label>
                                    <select ng-model="priority" class="form-control m-b" id="priority" name="priority">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                </select>
                            </div>
                            <div class="form-group">
                                 <label for="type">Auto-Update Interval (minutes)</label>
                                    <select ng-model="update_time" class="form-control m-b" id="update_time" name="update">
                                        <option value="60">60</option>
                                        <option value="30">30</option>
                                </select>
                            </div>

                            
                            </div>
                            <!-- right side of the form - where data is autopopulated based on the affected service selected -->
                               <div class="col-sm-8">
                                    <div class="form-group">
                                        <label for="title">Title</label> 
                                        <input ng-model="noticeForm.title" type="input" id="title" placeholder="" class="form-control">
                                    </div>

                                    <!-- <div class="form-group">
                                        <label for="reason">ITSB Reason</label> 
                                        <input ng-model="noticeForm.reason" type="input" id="reason" placeholder="" class="form-control">
                                    </div> -->

                                    <div class="form-group">
                                        <label for="regions">Regions Affected</label> 
                                        <input ng-model="noticeForm.regions_affected" type="input" id="regions" placeholder="" class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label for="services">Services Affected</label> 
                                        <textarea ng-model="noticeForm.services_affected" id="services" placeholder="" class="form-control"> </textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="biz_impact">Business Impact</label> 
                                        <textarea ng-model="noticeForm.biz_impact" id="biz_impact" placeholder="" class="form-control"> </textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="workaround">Workaround</label> 
                                        <textarea ng-model="noticeForm.workaround" id="workaround" placeholder="" class="form-control"> </textarea>
                                    </div>
                                    <input type="hidden" ng-model="noticeForm.id">


                                    <p class="text-center">
                                        <div>
                                        <button class="btn btn-sm btn-danger pull-right m-t-n-xs" type="submit" id=
                                        "submit"><strong>Submit</strong></button>
                                        </div>
                                    </p>
                                    <div data-ng-show="error" class="text-danger">
                                        <strong data-ng-bind="error"></strong>
                                    </div>
                                    </form>
                        </div>
                </div>
        </div>
</section>