<section data-ng-controller="TemplatesController" ng-init="findOne()">
<div class="wrapper wrapper-content animated fadeInDown">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content m-b-sm border-bottom">
            <div class="p-xs">
                <div class="pull-left m-r-md">
                    <i class="fa fa-envelope-square mid-icon"></i>
                </div>
                <h2 style="color: red;">{{template.subject}}  <a href="/#!/templates/{{template._id}}/edit" class="btn btn-white btn-bitbucket"><i class="fa fa-wrench"></i> Edit</a></h2> 
                <span><strong>Created by:</strong> {{template.created_by.displayName}}</span>
                </br>
                <p></p>
            </div>
        </div>
    </div>
</div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <form class="form-horizontal" name="createForm" role="form" novalidate>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="subject">Subject</label> 
                         <div class="col-sm-10">
                        <input disabled="" ng-model="template.subject" type="input" id="subject" placeholder="" class="form-control" required>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="regions">Affected Region(s)</label> 
                         <div class="col-sm-10">
                        <input disabled="" ng-model="template.affected_regions" type="input" id="regions" placeholder="" class="form-control" required>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="services">Impacted Service(s)</label> 
                         <div class="col-sm-10">
                        <textarea disabled="" ng-model="template.impacted_services" id="services" placeholder="" class="form-control" required> </textarea>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="description">Description</label> 
                         <div class="col-sm-10">
                        <textarea disabled="" ng-model="template.description" id="description" placeholder="" class="form-control" required> </textarea>
                        </div>
                    </div>


                    <div class="hr-line-dashed"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="workaround">Email Distribution List</label> 
                         <div class="col-sm-10">
                        <input disabled="" ng-model="template.email_dlist" id="email_dlist" placeholder="comma separated (AMER.all, APAC.all)" class="form-control" required>
                        </div>
                    </div>

                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
